.boton-redondeado {
    background-color: #008CBA;
    /* Azul */
    border: none;
    color: white;
    padding: 1px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.rele-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.rele {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.status {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px auto;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}
.p {
    background-image: url("images/dinosaur.jpg");
  }